.main-image{
    position: relative;
    background: url(../assets/images/heading_banner.jpg) no-repeat center;
    background-size: cover;
    height: 700px;
    overflow: hidden;
}

.heading_banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-banner h1 {
    margin: 0;
    font-size: 70px;
}

.button .banner_button{
    color: white;
}

.button .banner_button{
    color: #313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.button .banner_button:hover{
    opacity: .6;
}